.vechileStatusLayout {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.statusGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(20% - 5px) calc(20% - 5px) calc(20% - 5px) calc(20% - 5px) calc(20% - 5px);
  grid-gap: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
  background-color: silver;
  overflow: hidden;
}

.statusGrid div {
  background-color: white;
}

.statusGrid .statusChart {
  grid-column:1 / span 4;
  grid-row:1 / span 4;
}
